<div class="post_form_header">
  <div class="container">
    Drop some knowledge! 
  </div>
</div>
  

<form action="/post/new" method="POST">
  <div class="post_form">
  <label for="title"> I learned... </label>
  <input class="field" id="title" type="text" name="post[title]" placeholder="something awesome">
  <br/>
  <label for="body"> Educate us! </label>
  <input class="field" id="body" type="text" name="post[body]" placeholder="gems of wisdom">
  <br/>
  <input type="submit" class="field" id="button" value="Share it">
  </div>
</form>







