<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  
  <!-- google web fonts -->

  <link href='http://fonts.googleapis.com/css?family=News+Cycle|Faster+One|Oswald|Homemade+Apple' rel='stylesheet' type='text/css'>



  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <div class="wrapper">
  <div class="header">
  <h1>Each Day I Learn</h1>
  <p id="tagline">Learn something new everyday </p>
  </div>
  
  
  <div class="new_post"><a href="/post/create">Drop some knowledge</a></div>
  
  <%= yield %>
  </div>  
</body>
</html>
